/* CSS for website */

.markdown-section a {
  color: #b67c00;
}

.book-summary ul.summary li.active > a {
  color: #b67c00;
}

#book-search-results .search-results .has-results .search-results-item a {
  color: #b67c00;
}

figure {
  border: 1px #cccccc solid;
  padding: 2px;
  margin: auto;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  padding: 2px;
  text-align: center;
}
