/* CSS for website */

.markdown-section a {
  color: #00B87A;
}

.book-summary ul.summary li.active > a {
  color: #00B87A;
}

#book-search-results .search-results .has-results .search-results-item a {
  color: #00B87A;
}

.test {
  color:violet !important;
}